extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="data_and_audio_submission", method="POST", enctype="multipart/form-data")
    div.actSelInput
      span.label Action Selection
      div
        input(type="radio", name="action", value="enc", onclick="revealActionOpts('enc')")
        span.label Encrypt
        input(type="radio", name="action", value="dec", onclick="revealActionOpts('dec')")
        span.label Decrypt
    div.afInput
      span.label Audio File
      input(type="file", accept="audio/wav", name="af")
    div.encDataInput
      span.label Text Data to Encrypt
      input(type="text", name="enc_data")
    div.actions
      input(type="submit", value="Go")

block scripts
  script(type="text/javascript" src="/js/controlFormVisibility.js")
